.writtingPage {
	direction: rtl;
	text-align: center;

	background-color: #f2e8d9;
	overflow: hidden;
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5);
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5);
	border: solid 1px rgb(146, 131, 110);
}

.quote{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	/* border: 1px solid red; */
	height: 100%;
}
.quote blockquote{
	font-size: 20pt;
	overflow: hidden;
	height: 75%;
}

.quote .en{
	direction: ltr;
	text-align: left;
}

.quote .ar{
	direction: rtl;
	text-align: right;
}

.quote .center{
	text-align: center;
}